@font-face {
  font-family: 'NantesRegular';
  src: url('../assets/fonts/Nantes/Nantes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MessinaSansRegular';
  src: url('../assets/fonts/MessinaSans/MessinaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MessinaSansBold';
  src: url('../assets/fonts/MessinaSans/MessinaSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MessinaSansLight';
  src: url('../assets/fonts/MessinaSans/MessinaSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family: "NeueHaasUnicaW1G";
	src: url("../assets/fonts/NeueHaas/Neue-Haas-Unica-W1G.woff2")format("woff2");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}


$Nantes400: NantesRegular;
$Messina300: MessinaSansLight;
$Messina400: MessinaSansRegular;
$Messina600: MessinaSansBold;
$NeueW1G400: NeueHaasUnicaW1G;
