@import 'colors';

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: $cLight; 
}

::-webkit-scrollbar-thumb {
  background: $cSemiGreen; 
  border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
  background: $cBlue;
}
