.splide__arrows {
	position: absolute;
	bottom: 60px;
	left: 100px;
	display: flex;
	gap: 10px;
	z-index: 50;
}

.splide__arrow {
	background-color: rgb(255, 255, 255);
	color: rgb(68, 0, 255);
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
}

.splide__arrow--prev {
	background-color: white !important;
	width: 50px !important;
	height: 50px !important;
	transform:rotate(180deg) !important;
}

/* .splide__arrow--prev::before {
	content: '';
	background-image: url('../assets/icons/arrow_left.png');
	z-index: 50;
} */

/* .splide__arrow--next::after {
	background-image: url('');
	background-size: cover;
} */

.splide__arrow--next{
	background-color: white !important;
	width: 50px !important;
	height: 50px !important;
	transform:rotate(180deg) !important;
}