@import 'colors';
@import 'scrollBar';
@import 'font';

// ===============Universell Style =============

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.section{
	height: auto !important;
	min-height: 100vh !important;
}


#section_title {
	font-family: $Nantes400;
	font-weight: 400;
	font-size: 48px;
	line-height: 57.6px;
	left: 93px;
	color: $cBlack300;
}

#section_subtitle {
	font-family: $Messina300;
	font-weight: 350;
	font-size: 16px;
	line-height: 25.6px;
	color: $cBlack300;
	left: 93px;
}

#section_title_light{
	font-family: $Nantes400;
}

#primary_button {
	color: $cWhite;
	background-color: $cBlue;
	border-radius: 124px;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	font-weight: normal;
	box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 3px;
}


#primary_button:hover{
	background-color: $cBlueLight;
}

#min_card {
	background-color: $cWhite;
	width: 220px;
	height: 120px;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	border-radius: 6px;
}


#min_card_img {
	// width: 140px;
	// height: 60px;
}


// tablet 
@media (min-width: 600px) and (max-width: 1199px) {
	#section_title {
		font-size: 38px;
	}

	#section_subtitle {
		font-size: 16px;
	}

	#primary_button {
		color: $cWhite;
		background-color: $cBlue;
		border-radius: 124px;
	}

	#min_card {
		background-color: $cWhite;
		width: 150px;
		height: 80px;
	}

	#min_card_img {
		padding: 10px;
		// width: 80px;
		// height: 40px;
	}

}

// Mobile
@media (min-width: 320px) and (max-width: 425px) {
	#section_title {
		font-size: 30px;
	}

	#section_subtitle {
		font-size: 14px;
	}

	#min_card {
		background-color: $cWhite;
		width: 100px;
		height: 60px;
	}

	#min_card_img {
		padding: 10px;
	}

}

// ===================== Universell Style Ended ==========





// =================== Sections Style : Leptop 1440px ==========


// section 00- nav bar toggle menu 
#menuList {
	display: none;

	#_btn {
		@extend #primary_button;
		font-family: $Messina400;
	}

	ul {
		li {
			line-height: 40px;
		}
	}

	&.visible {
		display: block;
	}
}

// section 01 - Hero Section 
#hero {
	.hero_title {
		h1 {
			font-family: $Nantes400;
		}

		p {
			font-family: $Messina300;
		}
	}

	.hero_summery {
		p {
			font-family: $Nantes400;
			font-size: 36px;
			color: $cWhite;
			padding-top: 25px;

			span {
				font-family: $NeueW1G400;
				font-size: 16px;
				color: $cGray;
				margin-top: -2px;
			}
		}
	}
}

// #indx 

#chart-container {
	height: 100vh;
}

#chart {
	width: 100%;
	height: 100%;
}

#table_nav{
	p{
		font-family: $Nantes400;
		font-size: 16px;
		color: $cGray50;
	}

}

#index_overview{
	h1{
		font-size: $Nantes400;
	}
	#overviewOf{
		font-family: $Messina400;
		line-height: normal;
	}
}



// seciton 3 - companies
#wppool_index {
	.section_header {

		p,
		input {
			font-family: $Nantes400;
		}

		#search {
			background-image: url('../assets/icons/search.png');
			background-repeat: no-repeat;
			background-position: 20px center;
			padding-left: 50px;
		}
	}

	#table_section_tile{
		font-family: $Nantes400;
		color: $cBlack300;
	}
	.table_btn #_btn {
		@extend #primary_button;
		font-family: $Messina400;
	}


}

#companyTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
	overflow-y: visible;

	thead tr {
		text-align: left;

		th {
			font-family: $Nantes400;
			font-weight: 200;
		}

		th:first-child {
			font-weight: bold;
			// width: 20%;
			font-family: $Messina600;
		}
	}

	tr {
		font-family: $Nantes400;
		font-size: 16px;
		height: 40px;
		border-radius: 50px;
		line-height: 19.2px;
	}

	tbody tr:nth-child(odd) {
		background-color: $cGrayBright;
	}

}




//section 04 - future lsiting
#future_listings,
.portfolio_companies {
	.list_card {
		@extend #min_card;

		img {
			@extend #min_card_img;
		}
	}

}


// state_of_USA

#btn_text{
	font-family: $Nantes400;
	font-weight: 400;
}

#slider_buttons_sections{
	button{
		@extend #primary_button;
		font-family: $Messina400;
	}
}
//section 05 - Stories & Ideas

#stories_ideas {

	#stories {
		background-color: $cWhite;
		width: 380px;
		height: 220px;
		border-radius: 8px;
		position: relative;

		#avatar {
			width: 120px;
			height: 120px;
			border-radius: 4px;
			left: 10px;
			position: absolute;
			top: -40px;
		}
		#avatar2{
			background-color: $cWhite;
			width: 60px;
			height: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			z-index: 10;
			top:-40px;
			left: 20px;
			border-top-left-radius: 8px;
		}

		#avatar_info {

			position: absolute;
			top: 75px;
			padding: 0 20px;
			overflow: hidden;
			h5 {
				font-family: $Messina400;
				font-weight: 400;
				line-height: 19.6px;
				font-size: 20px;
				color: $cBlue;
			}

			p {
				@extend #section_subtitle;
				font-family: $Nantes400;
			}

		}
		#more_info_btn{
			position: absolute;
			bottom: 30px;
			left: 20px;
			#_btn {
				@extend #primary_button;
				font-family: $NeueW1G400;
			}
		}
	}


}


//footer
#footer{
	h6{
		font-family: $Nantes400;
	}
	#footer_url{
		font-size: 20px;
		p{
			font-family: $Messina600;
			width: 700;
		}
		a{
			color: $cBlueLight;
			font-family: $NeueW1G400;
			line-height: 30px;
		}
		a:hover{
			color: $cSemiGreen;
			text-decoration: underline;
		}
	}

	#location{
		font-size: 20px;
		color: $cBlack300;
		h6{
			font-family: $Messina600;
			font-weight: 700;
		}
		a{
			font-family: $Messina400;
		}
	}
}










@media (min-width: 600px) and (max-width: 1199px) {
	#hero {
		#hero_dot_blob {
			width: 350px;
			height: 350px;
		}

		.hero_summery {
			text-align: center;

			p {
				font-size: 25px;
				padding-top: 0px;
				width: 190px;
				height: 60px;
				overflow: hidden;

				span {
					font-size: 12px;
					margin-top: 0px;
				}
			}
		}

	}


	#companyTable {
		overflow: visible;

		thead tr {
			text-align: left;
			font-size: 10px;
			// position: sticky;
			// top: 0;
			// z-index: 1; 

		}

		tr {
			font-size: 10px;
			height: 40px;
			border-radius: 50px;
			line-height: 19.2px;
		}
	}



	#stories_ideas {

		#stories {
			// @extend #min_card;
			background-color: $cWhite;
			width: 330px;
			height: 220px;
		}
	}


	#footer{
		#footer_url{
			font-size: 16px;
		}
	
		#location{
			font-size: 16px;
		}
	}


}



@media (min-width: 320px) and (max-width: 425px) {

	#navbar {

		#logo_white,
		#logo_black {
			width: 100px;
		}
	}

	#hero {
		#hero_dot_blob {
			width: 300px;
			height: 300px;
		}

		.hero_summery {
			text-align: center;

			p {
				font-size: 25px;
				padding-top: 0px;
				width: 80px;
				height: 60px;
				overflow: hidden;

				span {
					font-size: 12px;
					margin-top: 0px;
				}
			}
		}
	}


	#companyTable {
		overflow: visible;

		thead tr {
			text-align: left;
			font-size: 8px;
			// position: sticky;
			// top: 0;
			// z-index: 1; 

		}

		tr {
			font-size: 10px;
			height: 40px;
			border-radius: 50px;
			line-height: 19.2px;
		}
	}


}