::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
  background: #AFCD80;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2042B6;
}

@font-face {
  font-family: "NantesRegular";
  src: url("../assets/fonts/Nantes/Nantes-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MessinaSansRegular";
  src: url("../assets/fonts/MessinaSans/MessinaSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MessinaSansBold";
  src: url("../assets/fonts/MessinaSans/MessinaSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MessinaSansLight";
  src: url("../assets/fonts/MessinaSans/MessinaSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasUnicaW1G";
  src: url("../assets/fonts/NeueHaas/Neue-Haas-Unica-W1G.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  width: 100%;
}

#section_title {
  font-family: NantesRegular;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  left: 93px;
  color: #191618;
}

#section_subtitle {
  font-family: MessinaSansLight;
  font-weight: 350;
  font-size: 16px;
  line-height: 25.6px;
  color: #191618;
  left: 93px;
}

#primary_button, #stories_ideas #_btn, #wppool_index .table_btn #_btn, #menuList #_btn {
  color: #FFFFFF;
  background-color: #2042B6;
  border-radius: 124px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-weight: normal;
}

#min_card, #future_listings .list_card {
  background-color: #FFFFFF;
  width: 220px;
  height: 120px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 6px;
}

#min_card_img, #future_listings .list_card img {
  width: 122px;
  height: 55px;
}

@media (min-width: 600px) and (max-width: 1199px) {
  #section_title {
    font-family: NantesRegular;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    left: 93px;
    color: #191618;
  }
  #section_subtitle {
    font-family: MessinaSansLight;
    font-weight: 350;
    font-size: 16px;
    line-height: 25.6px;
    color: #191618;
    left: 93px;
  }
  #primary_button, #stories_ideas #_btn, #wppool_index .table_btn #_btn, #menuList #_btn {
    color: #FFFFFF;
    background-color: #2042B6;
    border-radius: 124px;
  }
  #min_card, #future_listings .list_card {
    background-color: #FFFFFF;
    width: 150px;
    height: 80px;
  }
  #min_card_img, #future_listings .list_card img {
    width: 80px;
    height: 55px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  #section_title {
    font-size: 30px;
  }
  #section_subtitle {
    font-size: 14px;
  }
  #min_card, #future_listings .list_card {
    background-color: #FFFFFF;
    width: 100px;
    height: 60px;
  }
  #min_card_img, #future_listings .list_card img {
    width: 40px;
    height: 40px;
  }
}
#menuList {
  display: none;
}
#menuList #_btn {
  font-family: MessinaSansRegular;
}
#menuList ul li {
  line-height: 40px;
}
#menuList.visible {
  display: block;
}

#hero .hero_title h1 {
  font-family: NantesRegular;
}
#hero .hero_title p {
  font-family: MessinaSansLight;
}
#hero .hero_summery p {
  font-family: NantesRegular;
  font-size: 36px;
  color: #FFFFFF;
  padding-top: 25px;
}
#hero .hero_summery p span {
  font-family: NeueHaasUnicaW1G;
  font-size: 16px;
  color: #CDCDCD;
  margin-top: -2px;
}

#wppool_index .section_header p,
#wppool_index .section_header input {
  font-family: NantesRegular;
}
#wppool_index .section_header #search {
  background-image: url("../assets/icons/search.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 50px;
}
#wppool_index .table_btn #_btn {
  font-family: MessinaSansRegular;
}

#companyTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  overflow-y: visible;
}
#companyTable thead tr {
  text-align: left;
}
#companyTable thead tr th {
  font-family: NantesRegular;
  font-weight: 200;
}
#companyTable thead tr th:first-child {
  font-weight: bold;
  font-family: MessinaSansBold;
}
#companyTable tr {
  font-family: NantesRegular;
  font-size: 16px;
  height: 40px;
  border-radius: 50px;
  line-height: 19.2px;
}
#companyTable tbody tr:nth-child(odd) {
  background-color: #F3F3F3;
}

@media (min-width: 600px) and (max-width: 1199px) {
  #hero #hero_dot_blob {
    width: 350px;
    height: 350px;
  }
  #hero .hero_summery {
    text-align: center;
  }
  #hero .hero_summery p {
    font-size: 25px;
    padding-top: 0px;
    width: 190px;
    height: 60px;
    overflow: hidden;
  }
  #hero .hero_summery p span {
    font-size: 12px;
    margin-top: 0px;
  }
  #companyTable {
    overflow: visible;
  }
  #companyTable thead tr {
    text-align: left;
    font-size: 10px;
  }
  #companyTable tr {
    font-size: 10px;
    height: 40px;
    border-radius: 50px;
    line-height: 19.2px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  #navbar #logo_white,
  #navbar #logo_black {
    width: 100px;
  }
  #hero #hero_dot_blob {
    width: 300px;
    height: 300px;
  }
  #hero .hero_summery {
    text-align: center;
  }
  #hero .hero_summery p {
    font-size: 25px;
    padding-top: 0px;
    width: 80px;
    height: 60px;
    overflow: hidden;
  }
  #hero .hero_summery p span {
    font-size: 12px;
    margin-top: 0px;
  }
  #companyTable {
    overflow: visible;
  }
  #companyTable thead tr {
    text-align: left;
    font-size: 8px;
  }
  #companyTable tr {
    font-size: 10px;
    height: 40px;
    border-radius: 50px;
    line-height: 19.2px;
  }
}/*# sourceMappingURL=style.css.map */