@import 'colors';
@import 'scrollBar';

@font-face {
  font-family: 'NantesRegular';
  src: url('../assets/fonts/Nantes/Nantes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MessinaSansRegular';
  src: url('../assets/fonts/MessinaSans/MessinaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MessinaSansLight';
  src: url('../assets/fonts/MessinaSans/MessinaSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family: "NeueHaasUnicaW1G";
	src: url("../assets/fonts/NeueHaas/Neue-Haas-Unica-W1G.woff2")format("woff2");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

#menuList{
	display: none;
	ul{
		li{
			line-height: 40px;
		}
	}
	&.visible {
    display: block;
  }
}

#hero{
	.hero_title{
		h1{
			font-family: NantesRegular;
		}
		p{
			font-family: MessinaSansLight;
		}
	}
	.hero_summery{
		p{
			font-family: NantesRegular;
			font-size: 36px;
			color: $cWhite;
			padding-top: 25px;
		}
		span{
			font-family: NeueHaasUnicaW1G;
			font-size: 16px;
			color: $cGray;
			margin-top: -2px;
		}
	}
}



