@import 'colors';
@import 'scrollBar';
@import 'font';


#menuList{
	display: none;
	ul{
		li{
			line-height: 40px;
		}
	}
	&.visible {
    display: block;
  }
}

#hero{
	.hero_title{
		h1{
			font-family: NantesRegular;
		}
		p{
			font-family: MessinaSansLight;
		}
	}
	.hero_summery{
		p{
			font-family: NantesRegular;
			font-size: 36px;
			color: $cWhite;
			padding-top: 25px;

			span{
				font-family: NeueHaasUnicaW1G;
				font-size: 16px;
				color: $cGray;
				margin-top: -2px;
			}
		}
	}
}



// tablet 
@media only screen and (max-width: 768px){

	#hero{

		#hero_dot_blob{
			width: 350px;
			height: 350px;	
		}

		.hero_summery{
			text-align: center;
			p{
				font-size: 25px;
				padding-top: 0px;
				width: 190px;
				height: 60px;
				overflow: hidden;
	
				span{
					font-size: 12px;
					margin-top: 0px;
				}
			}
		}

	}
}


// Mobile Responsive

@media (max-width: 425px){

	#navbar{
		#logo_white,
		#logo_black{
			width: 100px;
		}
	}

	#hero{

		#hero_dot_blob{
			width: 300px;
			height: 300px;	
		}
		.hero_summery{
			text-align: center;
			p{
				font-size: 25px;
				padding-top: 0px;
				width: 80px;
				height: 60px;
				overflow: hidden;
	
				span{
					font-size: 12px;
					margin-top: 0px;
				}
			}
		}
	}

}
