::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
  background: #AFCD80;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2042B6;
}

@font-face {
  font-family: "NantesRegular";
  src: url("../assets/fonts/Nantes/Nantes-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MessinaSansRegular";
  src: url("../assets/fonts/MessinaSans/MessinaSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MessinaSansBold";
  src: url("../assets/fonts/MessinaSans/MessinaSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MessinaSansLight";
  src: url("../assets/fonts/MessinaSans/MessinaSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasUnicaW1G";
  src: url("../assets/fonts/NeueHaas/Neue-Haas-Unica-W1G.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}

.section {
  height: auto !important;
  min-height: 100vh !important;
}

#section_title {
  font-family: NantesRegular;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  left: 93px;
  color: #191618;
}

#section_subtitle, #stories_ideas #stories #avatar_info p {
  font-family: MessinaSansLight;
  font-weight: 350;
  font-size: 16px;
  line-height: 25.6px;
  color: #191618;
  left: 93px;
}

#section_title_light {
  font-family: NantesRegular;
}

#primary_button, #stories_ideas #stories #more_info_btn #_btn, #wppool_index .table_btn #_btn, #menuList #_btn {
  color: #FFFFFF;
  background-color: #2042B6;
  border-radius: 124px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-weight: normal;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px;
}

#primary_button:hover, #stories_ideas #stories #more_info_btn #_btn:hover, #wppool_index .table_btn #_btn:hover, #menuList #_btn:hover {
  background-color: #115CD9;
}

#min_card, #future_listings .list_card,
.portfolio_companies .list_card {
  background-color: #FFFFFF;
  width: 220px;
  height: 120px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 6px;
}

@media (min-width: 600px) and (max-width: 1199px) {
  #section_title {
    font-size: 38px;
  }
  #section_subtitle, #stories_ideas #stories #avatar_info p {
    font-size: 16px;
  }
  #primary_button, #stories_ideas #stories #more_info_btn #_btn, #wppool_index .table_btn #_btn, #menuList #_btn {
    color: #FFFFFF;
    background-color: #2042B6;
    border-radius: 124px;
  }
  #min_card, #future_listings .list_card,
  .portfolio_companies .list_card {
    background-color: #FFFFFF;
    width: 150px;
    height: 80px;
  }
  #min_card_img, #future_listings .list_card img,
  .portfolio_companies .list_card img {
    padding: 10px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  #section_title {
    font-size: 30px;
  }
  #section_subtitle, #stories_ideas #stories #avatar_info p {
    font-size: 14px;
  }
  #min_card, #future_listings .list_card,
  .portfolio_companies .list_card {
    background-color: #FFFFFF;
    width: 100px;
    height: 60px;
  }
  #min_card_img, #future_listings .list_card img,
  .portfolio_companies .list_card img {
    padding: 10px;
  }
}
#menuList {
  display: none;
}
#menuList #_btn {
  font-family: MessinaSansRegular;
}
#menuList ul li {
  line-height: 40px;
}
#menuList.visible {
  display: block;
}

#hero .hero_title h1 {
  font-family: NantesRegular;
}
#hero .hero_title p {
  font-family: MessinaSansLight;
}
#hero .hero_summery p {
  font-family: NantesRegular;
  font-size: 36px;
  color: #FFFFFF;
  padding-top: 25px;
}
#hero .hero_summery p span {
  font-family: NeueHaasUnicaW1G;
  font-size: 16px;
  color: #CDCDCD;
  margin-top: -2px;
}

#table_nav p {
  font-family: NantesRegular;
  font-size: 16px;
  color: #647888;
}

#index_overview h1 {
  font-size: NantesRegular;
}
#index_overview #overviewOf {
  font-family: MessinaSansRegular;
  line-height: normal;
}

#wppool_index .section_header p,
#wppool_index .section_header input {
  font-family: NantesRegular;
}
#wppool_index .section_header #search {
  background-image: url("../assets/icons/search.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 50px;
}
#wppool_index #table_section_tile {
  font-family: NantesRegular;
  color: #191618;
}
#wppool_index .table_btn #_btn {
  font-family: MessinaSansRegular;
}

#companyTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  overflow-y: visible;
}
#companyTable thead tr {
  text-align: left;
}
#companyTable thead tr th {
  font-family: NantesRegular;
  font-weight: 200;
}
#companyTable thead tr th:first-child {
  font-weight: bold;
  font-family: MessinaSansBold;
}
#companyTable tr {
  font-family: NantesRegular;
  font-size: 16px;
  height: 40px;
  border-radius: 50px;
  line-height: 19.2px;
}
#companyTable tbody tr:nth-child(odd) {
  background-color: #F3F3F3;
}

#stories_ideas #stories {
  background-color: #FFFFFF;
  width: 380px;
  height: 220px;
  border-radius: 8px;
  position: relative;
}
#stories_ideas #stories #avatar {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  left: 10px;
  position: absolute;
  top: -40px;
}
#stories_ideas #stories #avatar2 {
  background-color: #FFFFFF;
  width: 60px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: -40px;
  left: 20px;
  border-top-left-radius: 8px;
}
#stories_ideas #stories #avatar_info {
  position: absolute;
  top: 75px;
  padding: 0 20px;
  overflow: hidden;
}
#stories_ideas #stories #avatar_info h5 {
  font-family: MessinaSansRegular;
  font-weight: 400;
  line-height: 19.6px;
  font-size: 20px;
  color: #2042B6;
}
#stories_ideas #stories #avatar_info p {
  font-family: NantesRegular;
}
#stories_ideas #stories #more_info_btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
#stories_ideas #stories #more_info_btn #_btn {
  font-family: NeueHaasUnicaW1G;
}

#footer h6 {
  font-family: NantesRegular;
}
#footer #footer_url {
  font-size: 20px;
}
#footer #footer_url p {
  font-family: MessinaSansBold;
  width: 700;
}
#footer #footer_url a {
  color: #115CD9;
  font-family: NeueHaasUnicaW1G;
  line-height: 30px;
}
#footer #footer_url a:hover {
  color: #AFCD80;
  text-decoration: underline;
}
#footer #location {
  font-size: 20px;
  color: #191618;
}
#footer #location h6 {
  font-family: MessinaSansBold;
  font-weight: 700;
}
#footer #location a {
  font-family: MessinaSansRegular;
}

@media (min-width: 600px) and (max-width: 1199px) {
  #hero #hero_dot_blob {
    width: 350px;
    height: 350px;
  }
  #hero .hero_summery {
    text-align: center;
  }
  #hero .hero_summery p {
    font-size: 25px;
    padding-top: 0px;
    width: 190px;
    height: 60px;
    overflow: hidden;
  }
  #hero .hero_summery p span {
    font-size: 12px;
    margin-top: 0px;
  }
  #companyTable {
    overflow: visible;
  }
  #companyTable thead tr {
    text-align: left;
    font-size: 10px;
  }
  #companyTable tr {
    font-size: 10px;
    height: 40px;
    border-radius: 50px;
    line-height: 19.2px;
  }
  #stories_ideas #stories {
    background-color: #FFFFFF;
    width: 330px;
    height: 220px;
  }
  #footer #footer_url {
    font-size: 16px;
  }
  #footer #location {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  #navbar #logo_white,
  #navbar #logo_black {
    width: 100px;
  }
  #hero #hero_dot_blob {
    width: 300px;
    height: 300px;
  }
  #hero .hero_summery {
    text-align: center;
  }
  #hero .hero_summery p {
    font-size: 25px;
    padding-top: 0px;
    width: 80px;
    height: 60px;
    overflow: hidden;
  }
  #hero .hero_summery p span {
    font-size: 12px;
    margin-top: 0px;
  }
  #companyTable {
    overflow: visible;
  }
  #companyTable thead tr {
    text-align: left;
    font-size: 8px;
  }
  #companyTable tr {
    font-size: 10px;
    height: 40px;
    border-radius: 50px;
    line-height: 19.2px;
  }
}/*# sourceMappingURL=style.css.map */